{% include 'layout/html_head.html' %}
{% include 'layout/main_header.html' %}
{% include 'layout/site_nav.html' %}


<section>
    <article class="split">
        <header><h1>About me</h1></header>
        <p>
            I've been coding as a hobby since I was at university and had taught myself how to use web technologies
            through a few blogs, websites for other people, and various projects using Laravel (PHP) and later,
            Python.
        </p>
        <p>
            Aside from this, I have always cared deeply about making a positive difference to the world. I have
            volunteered with the police, and on political campaigns. Most recently I have been involved in setting up
            the <a href="https://www.peterboroughtenants.org">Peterborough Tenants Union</a>, because housing is
            such a fundamental issue, and renters so often get such a raw
            deal.
        </p>
    </article>

    <article class="split">
        <header>
            <h1>Contact Details</h1>
        </header>
        <dl>

            <dt>Email</dt>
            <dd>
                <a href="mailto:alex@alexhall.dev">alex@alexhall.dev</a>
            </dd>

            <dt>Instagram</dt>
            <dd>
                <a href="https://www.instagram.com/alex_william_hall/">@alex_william_hall</a>
            </dd>
        </dl>
    </article>
</section>


{% include 'layout/site_footer.html' %}
{% include 'layout/html_footer.html' %}