{% include 'layout/html_head.html' %}
{% include 'layout/small_header.html' %}

{% include 'layout/site_nav.html' %}

<section>
    <p style="margin: 0;">
        This is a selection of photos taken by me, scroll side to side for more, click for details. All of them were
        taken on film, mostly Ilford for the black and white, and various for the colour (but mostly Portra 160 & 400 -
        with a couple of Ektar and Cinestill shots mixed in).
    </p>
</section>

<article id="photo-grid">
    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/139482900016.jpg">
        <aside>
            <strong>Zaragoza, Spain</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/00770019.JPG">
        <aside>
            <strong>Hunstanton, UK</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/14210014.jpg">
        <aside>
            <strong>London, UK</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/003245500011.jpg">
        <aside>
            <strong>Trakai, Lithuania</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/003245510013.jpg">
        <aside>
            <strong>Kaunas, Lithuania</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/031490010021.jpg">
        <aside>
            <strong>Peterborough, UK</strong>
            Taken at Peterborough Pride in 2021.
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/003246460018.jpg">
        <aside>
            <strong>Vilnius, Lithuania</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/003325590026.jpg">
        <aside>
            <strong>Kraków, Poland</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/14210026.jpg">
        <aside>
            <strong>London, UK</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/031490010011.jpg">
        <aside>
            <strong>Peterborough, UK</strong>
            Taken at Peterborough Pride in 2021.
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/003325590014.jpg">
        <aside>
            <strong>Kraków, Poland</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/031490010016.jpg">
        <aside>
            <strong>Peterborough, UK</strong>
            Taken at Peterborough Pride in 2021.
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/039650010017.jpg">
        <aside>
            <strong>Vilnius, Lithuania</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/039650030022.jpg">
        <aside>
            <strong>Vilnius, Lithuania</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/047350020022.jpg">
        <aside>
            <strong>Castor, UK</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/047350020037.jpg">
        <aside>
            <strong>Castor, UK</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/139482900005.jpg">
        <aside>
            <strong>Zaragoza, Spain</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/139782910008.jpg">
        <aside>
            <strong>Zaragoza, Spain</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/139782910020.jpg">
        <aside>
            <strong>Zaragoza, Spain</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/14210023.jpg">
        <aside>
            <strong>London, UK</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/Spain-10.jpg">
        <aside>
            <strong>Zaragoza, Spain</strong>
        </aside>
    </article>

    <article tabindex="1" class="photo">
        <img src="https://alexhall-dev-personal.s3.eu-west-1.amazonaws.com/photos/Spain-39.jpg">
        <aside>
            <strong>Zaragoza, Spain</strong>
        </aside>
    </article>
</article>

{% include 'layout/site_footer.html' %}
{% include 'layout/html_footer.html' %}
